# Projeto 3 - Ciência dos Dados
#### Variável: Expectativa de Vida

Problemática: Como algumas necessidades básicas (Comida, Saneamento Básico, Educação) podem afetar a expectativa de vida no mundo?

In [5]:
%matplotlib inline

import os
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm
import pandas as pd
import numpy as np

import statsmodels.api as sm1 #Usa OLS com X como matriz de planejamento
import statsmodels.formula.api as sm  #Usa OLS como no R

print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\fibor\Desktop\Insper\2º Semestre\Ciência dos Dados\Github\CD\Projeto3

In [11]:
dados = dados = pd.read_excel('Dados.xlsx',index_col=0)

In [12]:
dados=dados[~np.isnan(dados.Life)]
dados=dados[~np.isnan(dados.Child)]
dados=dados[~np.isnan(dados.Sanitation)]
dados=dados[~np.isnan(dados.School)]
dados=dados[~np.isnan(dados.Poverty)]
dados=dados[~np.isnan(dados.Food)]
dados.shape
dados.head()

            Life  Child  Sanitation     School  Poverty     Food
Countries
Algeria     75.3   30.7          94   96.39509     3.01  3153.38
Armenia     72.3   21.1          89  101.31553     0.00  2279.87
Azerbaijan  69.1   45.8          77   98.13037    10.22  2961.19
Bahamas     71.8   14.8         100  102.36646    12.19  2712.50
Barbados    75.1   15.8         100   91.58734     5.84  3055.81